lab01-boolean-function/.idea/
lab01-boolean-function/cmake-build-debug/
lab02-compression/.idea/
lab02-compression/cmake-build-debug/
lab03-combinatorics/.idea/
lab03-combinatorics/cmake-build-debug/
lab04-probability/.idea/
lab04-probability/cmake-build-debug/
lab05-automata/.idea/
lab05-automata/cmake-build-debug/
lab07-hamilton/.idea/
lab07-hamilton/cmake-build-debug/
lab08-matroids/.idea/
lab08-matroids/cmake-build-debug/
lab10-planar/.idea/
lab10-planar/cmake-build-debug/
lab11-genfunction/.idea/
lab11-genfunction/cmake-build-debug/